<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">

	<select id="getList" resultType="com.springmvc.vo.BookVO">
		SELECT * FROM BOOKS
	</select>
	
	<select id="getInfo" resultType="com.springmvc.vo.BookVO">
		SELECT * FROM BOOKS
		WHERE 1 = 1
		AND ID = #{id}
	</select>

	<insert id="create" parameterType="com.springmvc.vo.BookVO">
		INSERT INTO BOOKS
			( TITLE
			, PRICE
			, AUTHOR
			, DESCRIPTION
			, PUBLISHER
			, CATEGORY
			, RELEASE_DATE
			, CONDITIONS
			, IMAGE
			)
		VALUES (
			  #{title}
			, #{price}
			, #{author}
			, #{description}
			, #{publisher}
			, #{category}
			, #{releaseDate}
			, #{conditions}
			, #{image}
			)
	</insert>
	
	<update id="edit">
		UPDATE BOOKS
		SET
			  TITLE = #{title}
			, PRICE = #{price}
			, AUTHOR = #{author}
			, DESCRIPTION = #{description}
			, PUBLISHER = #{publisher}
			, CATEGORY = #{category}
			, RELEASE_DATE = #{releaseDate}
			, CONDITIONS = #{conditions}
			, IMAGE = #{image}
		WHERE
			ID = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM BOOKS
		WHERE ID = #{id}
	</delete>
	
</mapper>